/*--- navigation bar ---*/
  
.navbar {
    background: #000000; 
  }
  
  .nav-link, .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  
  
  .nav-link {
    margin-right: -0.5em !important;
  }
  
  
  
  .nav-link:hover {
    color: #000;
  }
  
  
  
  .navbar-collapse {
      justify-content: flex-end;
  }
  
  
  
  /* --- Header --- */
  
  /* --- BG for yt vids --- */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
  }
